.wrapper {
  display: flex;
}
.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
  
}
.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

/*chat*/

.chat-header {
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
}

.messages {
  height: calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
}

.form {
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}


/*side*/

.side-bar-header {
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rooms {
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}
/*side-bar-header*/

.header-name a {
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}
.create-room a {
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

/*side-bar-rooms*/

.room {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}